---
layout: base
---

<section class="faq_area area-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="press-release" style="margin-top:50px; margin-bottom: 25px;">
                    <h1>{{ page.release-title }}</h1>
                </div>
            </div>

            <div class="press-release col-lg-12  mb-lg-0">
                {{ page.content | markdownify }}
            </div>

        </div>
    </div>
</section>