---
layout: base
title: Publications
subtitle: Conferences and Papers
---

<section class="faq_area area-padding-bottom">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-lg-12" style="margin-top: 25px;">
                <div class="accordion" id="accordionExample">

                    {% assign counter = 0 %}
                    {% for pub in site.conferences %}

                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse{{ counter }}" aria-expanded="false"
                                    aria-controls="collapse{{ counter }}" style="word-wrap: normal; white-space: normal; padding-right: 3em;">
                                    <!--{{ pub.paper_type }} Paper: {{ pub.title }}-->
                                    {% if pub.paper_type != 'Book chapter' %}
                                        {{ pub.paper_type }} Paper: {{ pub.title }}
                                    {% else %}
                                        {{ pub.paper_type }}: {{ pub.title }}
                                    {% endif %}
                                </button>
                            </h5>
                        </div>
                        <div id="collapse{{ counter }}" class="collapse" aria-labelledby="heading{{ counter }}"
                            data-parent="#accordionExample">
                            <div class="card-body facility-preview">
                                <h6 class="typo-list">
                                    <!--{{ pub.paper_type }} Paper-->
                                    {% if pub.paper_type != 'Book chapter' %}
                                        {{ pub.paper_type }} Paper
                                    {% else %}
                                        {{ pub.paper_type }}
                                    {% endif %}
                                </h6>
                                <p> <span style="font-weight: 600;">Title:</span> {{ pub.title }}</p>
                                <p> <span style="font-weight: 600;">Authors:</span> {{ pub.authors }}</p>
                                <p> <span style="font-weight: 600;">Title of the Journal/Proc./Book:</span> {{ pub.journal_title }}</p>
                                <p> <span style="font-weight: 600;">DOI:</span> {{ pub.doi }}</p>
                                {% if pub.repository_link == "Not Yet Available" %}
                                <p> <span style="font-weight: 600;">Paper Link:</span> Not Yet Available</p>
                                {% else %}
                                <p> <span style="font-weight: 600;">Paper Link:</span> <a href="{{ pub.repository_link}}" target="_blank">Link</a></p>
                                {% endif %}
                                
                                <p> <span style="font-weight: 600;">Relevance to the Project:</span> {{ pub.relevance }}</p>
                                
                            </div>
                        </div>
                    </div>

                    {% assign counter = counter | plus:1 %}
                    {% endfor %}
                </div>
            </div>

            <!--
                <p style="margin-top: 75px;">Currently, there are neither conferences nor papers...</p>
            <div class="col-12 col-lg-12" style="visibility: hidden;">
                <div class="project-info" style="margin-top:50px; margin-bottom: 25px;">
                    <h1>Press Releases</h1>
                </div>
            </div>
            <div class="col-sm-12 col-lg-12">
                <div class="accordion" id="accordionExample">


                    {% for leaflet in site.leaflets %}
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h6 class="mb-0">
                                <a target="_blank" href="{{ leaflet.resource }}">
                                    <button class="btn btn-link collapsed" type="button">
                                        {{ leaflet.title }}
                                    </button>
                                </a>
                            </h6>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            -->


        </div>
    </div>
</section>