.hero-banner .container h2 {
    margin-top: 100px;
}

.experiment h1 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #201978;
}

.experiment h2 {
    font-size: 22px;
    color: #136dbb;
}

.experiment h3 {
    font-size: 18px;
    margin-top: 30px;
    color: #747b81;
}

.experiment b {
    color: #ff6500;

}

.experiment i {
    color: #ff6500;
}

.experiment ul {
    display: block;
    list-style-type: circle;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.experiment ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.experiment img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

.experiment table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.experiment table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.experiment table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.experiment table tr:hover {
    background-color: #ddd;
}

.experiment table th {
    text-align: left;
    background-color: #201978;
    color: white;
    padding: 12px;

}