---
layout: base
title: 5GASP Project
subtitle: Consortium
---

<section class="faq_area area-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="project-info" style="margin-top:50px; margin-bottom: 25px;">
                    <h1>Consortium as a whole</h1>
                </div>

            </div>

            <div class="project-info col-lg-9  mb-lg-0">
                {% for page in site.project-main %}
                {% if page.title == "Consortium as a whole" %}
                {{ page.content | markdownify }}
                {% endif %}
                {% endfor %}
            </div>
            <div class="col-lg-3">
                <div class="project-navbar blog_right_sidebar">
                    <aside class="single_sidebar_widget post_category_widget">
                        <ul class="list cat-list">
                            <li>
                                <a href="{{ site.baseurl }}/project/project.html" class=" d-flex">
                                    <h1>5GASP Project</h1>
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/project/objectives.html" class=" d-flex">
                                    <h1>Objectives</h1>
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/project/workpackages.html" class=" d-flex">
                                    <h1>Work Packages</h1>
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/project/consortium.html" class=" d-flex">
                                    <h1 class="selected">Consortium as a whole</h1>
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/project/participants.html" class=" d-flex">
                                    <h1>Consortium participants</h1>
                                </a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>