<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/nav.css">

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h" href="{{ site.baseurl }}/"><img
                src="{{ site.baseurl }}/assets/img/5gasp-logo-small.png" alt="5GASP logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse offset text-center nav-b" id="navbarSupportedContent"
            style=" text-align: center;">
            <ul class="nav navbar-nav menu_nav">
                {% for item in site.data.navigation %}

                {% if item.name == "Experiments" %}
                <!--
                <li class="nav-item submenu dropdown">
                    <a href="{{ item.link }}" class="nav-link dropdown-toggle" role="button" aria-haspopup="true"
                        aria-expanded="false">{{item.name}}</a>
                    <ul class="dropdown-menu">
                        {% for experiment in site.experiments %}
                        <li class="nav-item"> <a class="nav-link"
                                href="{{ experiment.url }}">{{ experiment.experiment-title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                -->
                {% elsif item.name == "Community Portal" %}
                <li class="nav-item submenu dropdown">
                    <a href="{{ item.link }}" target="_blank" class="nav-link" role="button" aria-haspopup="true"
                        aria-expanded="false">{{item.name}}</a>
                </li>
                {% elsif item.name == "Facilities" %}
                <li class="nav-item submenu dropdown">
                    <a href="{{ item.link }}" class="nav-link dropdown-toggle" role="button" aria-haspopup="true"
                        aria-expanded="false">{{item.name}}</a>
                    <ul class="dropdown-menu">
                        {% for facility in site.facilities %}
                        <li class="nav-item"> <a class="nav-link" href="{{ facility.url }}">{{ facility.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% elsif item.name == "The Project" %}
                <li class="nav-item submenu dropdown">
                    <a href="{{ item.link }}" class="nav-link dropdown-toggle" role="button" aria-haspopup="true"
                        aria-expanded="false">{{item.name}}</a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ site.baseurl }}/project/project.html">5GASP Project</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ site.baseurl }}/project/objectives.html">Objectives</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ site.baseurl }}/project/workpackages.html">Work Packages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ site.baseurl }}/project/consortium.html">Consortium</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ site.baseurl }}/project/social.html">Social Media</a>
                        </li>
                    </ul>
                </li>
                {% elsif item.name == "Dissemination" %}
                <li class="nav-item submenu dropdown">
                    <a href="#" onclick="return false;" class="nav-link dropdown-toggle" disabledrole="button"
                        aria-haspopup="true" aria-expanded="false">{{item.name}}</a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ site.baseurl }}/dissemination/news.html">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ site.baseurl }}/dissemination/press-releases.html">Press
                                Releases</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ site.baseurl }}/dissemination/leaflets.html">Leaflets</a>
                        </li>
                    </ul>
                </li>

                {% elsif item.name == "Publications" %}
                <li class="nav-item submenu dropdown">
                    <a href="#" onclick="return false;" class="nav-link dropdown-toggle" disabledrole="button"
                        aria-haspopup="true" aria-expanded="false">{{item.name}}</a>
                    <ul class="dropdown-menu" style="width: 250px !important;">
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{{ site.baseurl }}/publications/deliverables.html">Deliverables</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ site.baseurl }}/publications/conferences.html">Conferences
                                and Papers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ site.baseurl }}/publications/workshops.html">Workshops and
                                Talks</a>
                        </li>
                    </ul>
                </li>

                {% else %}
                <li class="nav-item"><a href="{{ item.link }}" class="nav-link">{{ item.name }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>

    </div>
</nav>

<style>

</style>